# Config file
[yarn_apps]
appname=[["your_spark_app_name","cron schedule(* * * * * for streaming and actual schedule for batch job) ","user_that_runs_this_yarn_app","full_path_to_spark_submit_file","app_type(streaming or batch)"],
         ["your_another_spark_app_name","50 * * * *","user_that_runs_this_yarn_app","no_path_needed_for_batch_job","batch"],
         add more as needed ...
        ]
[paths]
rm_url_path_dev=http://your_dev_or_qa_rm_url:8088/ws/v1/cluster/apps/
rm_url_path_prod=http://your_prod_rm_url:8088/ws/v1/cluster/apps/
apps_home=path_to_your_spark_apps_home
app_path=~/yarn-eagle/
data_path=~/yarn-eagle/data
html_path=$data_path/output/index.html
logfile_path=$data_path/output/logfile.log

[mail]
from="<Eagle App Monitor>no-reply@yourdomain.com"
to="to_email"
cc="cc_email"
sub=""
msg=YARN-EAGLE status check

[misc]
tmzone=Your_time_zone(example format : America/Toronto )
